.boardImg {
  background-image: url('../../img/background.png');
  background-size: 100% 100%;
  height: 50vh;
}


.center-row{
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-left{
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 40px;
}

.board-position{
  top: 25%;
  position: absolute;
  margin: auto;
  width: 100%;
}
