<div *ngIf="game" class="board-position">

  <div class="m-auto w-75">
    <h1 class="text-center mb-3 mt-2 border-dark ">Turn of Player {{game.playerWhoMove | removeP}}</h1>

    <div class="boardImg">
      <div class="row">
        <ng-container *ngFor="let pit of game.pitP2.reverse(); let first = first; let last = last">

          <div [ngClass]="[pit.bigPit ? 'col-3' : 'col-1']">
            <div class="center-row ">
              <app-pit [pit]="pit" [game]="game" (onPitClicked)="pitClicked($event)"></app-pit>
            </div>
          </div>

        </ng-container>

        <div class="col-3">
          <h2 class="center-left">Player 2</h2>
        </div>
      </div>


      <div class="row">
        <div class="col-3">
          <h2 class="center-row">Player 1</h2>
        </div>
        <ng-container *ngFor="let pit of game.pitP1; let first = first">

          <div [ngClass]="[pit.bigPit ? 'col-2' : 'col-1']">
            <div class="center-row">
              <app-pit [pit]="pit"  [game]="game" (onPitClicked)="pitClicked($event)"></app-pit>
            </div>
          </div>
        </ng-container>

      </div>
    </div>

    <div class="row border mt-5"  [style.display]="game.finished ? 'block' : 'none'">
      <h2 class="col-12 text-center">Game over. {{winner}}</h2>
    </div>


  </div>
</div>
