.bigPit {
  background-image: url('../../img/bigPit.png');
  background-size: 100% 100%;
  box-sizing: border-box;
  height: 35px;
  font-size:100%;
  line-height:35px;
  border-radius:50%;
  text-align:center;
}

.pit {
  background-image: url('../../img/pit.png');
  background-size: 100% 100%;
  box-sizing: border-box;
  height: 35px;
  width: 35px;
  font-size:100%;
  line-height:35px;
  border-radius:50%;
  text-align:center;
}
